{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h2>Register</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <p> <i style="color:darkred;"> Please give an email (A fake email is okay as long as it has the right syntax)</i> </p>
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <i><p style="color:darkred;">Password needs to be minimum 8 characters with an uppercase character, a lowercase character, a digit, and special characters</p></i>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password2.label(class="form-label") }}
        {{ form.password2(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-success") }}

    <hr>
    <a href="{{ url_for('auth.login') }}" class="btn btn-warning">Already have an Account?</a>

</form>
{% endblock %}
