{% extends 'base.html' %}
{% block title %}Learn About Vulnerabilities{% endblock %}

{% block content %}
  <h2>Learn About Vulnerabilities</h2>
  <h5><i>To Explain:</i></h5>
  <ul><b>
      <li>What are vulnerabilities</li>
      <li>What is a web vulnerability</li>
      <li>Examples of web vulnerabilities minimal</li>
  </b> </ul>
  <p>Learn more about:</p>
  <ul>
      <li><a href="{{ url_for('main.learn_sqli') }}">SQL Injection</a></li>
      <li><a href="{{ url_for('main.learn_xss') }}">Cross Site Scripting (XSS)</a></li>
      <li><a href="{{ url_for('main.learn_crypto') }}">Cryptographic Failures</a></li>
  </ul>
{% endblock %}
