{% extends 'base.html' %}
{% block title %}Fixed SQL Injection{% endblock %}

{% block content %}
<h2>Fixed SQL Injection</h2>
<div style="position: fixed; top: 0.5rem; right: 4.5rem; z-index: 1050;">
  <a href="{{ url_for('main.learn_sqli') }}" class="btn btn-warning">Back to Learn Page</a>
</div>
<p> In the previous page, you executed certain queries on a vulnerable input field.
  <br>
  Please try the same inputs as before in the following box</p>

<form method="post">
  <label for="search">Search employee name:</label>
  <input type="text" name="search" id="search" required>
  <button type="submit">Submit</button>
</form>

{% if query %}
  <p>As you can see, the results are different.</p>
  <h3>The Query Executed:</h3>
  <pre>{{ query }}</pre>
{% endif %}

{% if result %}
  <h3>📄 Result:</h3>
  <table border="1">
    <tr><th>ID</th><th>Name</th><th>Role</th><th>Salary</th></tr>
    {% for row in result %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

<hr>

<h3>Input examples:</h3>
<ol>
  <li><code>Alice</code></li>
  <p>This is an example of a normal input searching for Alice</p>
  <li><code>' OR 1=1--</code> </li>
  <p>If the input field is vulnerable to SQL Injection, this lets you see all the employees</p>
  <li><code>Bob'; DROP TABLE employees;--</code> </li>
  <p>If the input field is vulnerable to SQL Injection, this lets you drop the table employees from the database</p>
</ol>

<h3>How does the fix work?</h3>
<p>
  This version uses parameterized queries to securely separate SQL code from user input. This prevents malicious input from
  changing the structure of the query.
  <br>
  Look at the executed query above. If you used an invalid input, it does not show a result.
</p>

<hr>

<div style="margin-top: 2rem;">
  <a href="{{ url_for('sqli.sqli') }}" class="btn btn-secondary mt-3"> Back to vulnerable version</a>
  <a href="{{ url_for('sqli.sqli_summary') }}" class="btn btn-success mt-3">What You Learned</a>
</div>

{% endblock %}