{% extends 'base.html' %}
{% block title %}SQL Injection Summary{% endblock %}

{% block content %}
<h2> What You Learned: SQL Injection Demo</h2>

<p>
  Definition
</p>

<h3>Vulnerable Input field: The problem</h3>
<p>
  Explain how because user input was directly injected into an SQL query,
  malicious input and destructive queries etc could be used.
</p>

<h3>The Fix</h3>
<p>
  Explain parameterized queries, and input validation.
</p>

<h3>Example</h3>
<h4 style="color: red;">Vulnerable Code</h4>
<p>The code below is vulnerable to SQL Injection. This is because the user Input is directly embedded into a query:</p>
  <code>
  query = f"SELECT * FROM employees WHERE name = '{user_input}'"
  cursor.execute(query)
  </code>
<br>
<br>
<h4 style="color: green;">Secure Alternative</h4>
<p>However this can be solved by using parameterised Queries, queries with placeholders for user data:</p>
    <code>
  query = "SELECT * FROM employees WHERE name = ?"
  cursor.execute(query, (user_input,))
    </code>

<br><br>

<h3>Learning objectives Completed:</h3>
<p>To Write</p>

<h4>Wanna learn more?</h4>
<p>Here are a few resources <br> Add Links Here</p>
<br>
<a href="{{ url_for('sqli.quiz') }}" class="btn btn-primary">Take the SQLi Quiz</a>
{% endblock %}