{% extends 'base.html' %}
{% block title %}SQL Injection Summary{% endblock %}

{% block content %}
<h2>Summary: SQL Injection</h2>
<hr>
<p>
<i>SQL Injection</i> is a web vulnerability that allows input to be used to build a SQL query without proper validation or escaping. Attackers can interfere with and manipulate queries that an application makes to its database.
  <br>
  This can let an attacker gain unauthorised access, make changes to, or delete a database's content including user accounts.</p>

<h4>Demo: What went wrong?</h4>
<ul>
  <li>The application directly inserted user input into SQL queries.</li>
  <li>This allowed attackers to inject SQL commands such as ' OR '1'='1 to dump data or other SQL commands on the database to alter, add or delete from the database</li>
</ul>

<h4>Fixing the problem</h4>
<ul>
  <li>Use parameterized queries (also called prepared statements) to separate code from data.</li>
  <li>Never insert raw user input directly into SQL strings.</li>
</ul>

<h6>Example of Vulnerable Query code:</h6>
<pre><code>
username = request.form['username']
password = request.form['password']
query = f"SELECT * FROM users WHERE username = '{username}' AND password = '{password}'"
</code></pre>

<h6>Example of Safe Query code:</h6>
<pre><code>
username = request.form['username']
password = request.form['password']
cursor.execute("SELECT * FROM users WHERE username = ? AND password = ?", (username, password))
</code></pre>

<i>For a more in depth understanding of this vulnerability, please consult the optional reading below.</i>
<br><br>
<h4>Optional Further Reading</h4>
<ul>
  <li><a href="https://www.w3schools.com/sql/sql_syntax.asp" target="_blank">W3Schools – SQL Syntax</a></li>
  <li><a href="https://www.w3schools.com/sql/sql_injection.asp" target="_blank">W3Schools – SQL Injection</a></li>
  <li><a href="https://darknetdiaries.com/episode/2/" target="_blank">[Podcast] Darknet Diaries – EP 2: The Peculiar Case of the VTech Hacker</a></li>
  <li><a href="https://en.wikipedia.org/wiki/SQL_injection" target="_blank">Wikipedia – SQL Injection</a></li>
</ul>

<hr>
<div style="margin-top: 2rem;">
  <a href="{{ url_for('main.learn_sqli') }}" class="btn btn-secondary">Back to Learn Page</a>
  <a href="{{ url_for('sqli.sqli') }}" class="btn btn-warning">Redo SQLi Demo</a>
  <a href="{{ url_for('sqli.quiz') }}" class="btn btn-primary">Take the Quiz</a>
</div>
{% endblock %}
