{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h2>Hi {{ current_user.username }}!</h2>
  <p><b>If it is your first time here, I recommend starting here:</b></p>
  <a href="{{ url_for('main.learn') }}" class="btn btn-primary" style="margin-right: 1rem;">Learn about vulnerabilities</a>
  <br>
  <br>
  <i>Or feel free to explore any of the pages below:</i>
  <ul>
    <li><a href="{{ url_for('main.learn') }}">Learn about Vulnerabilities</a></li>
    <li><a href="{{ url_for('sqli.sqli') }}">Try SQL Injection</a></li>
    <li><a href="{{ url_for('xss.xss_demo') }}">Try XSS</a></li>
    <li><a href="{{ url_for('crypto_fail.crypto_fail_fix') }}">Try Cryptographic Failure</a></li>
    <li><a href="{{ url_for('main.final_quiz') }}">Final Quiz</a></li>
    <li><a href="{{ url_for('main.logs') }}">View Logs and Quiz Scores</a></li>
  </ul>
  <p><b style="color: darkred;"> The logs page contains details and timestamps of demo actions and Quiz results.</b></p>

{% endblock %}
