{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h2>Hello, {{ current_user.username }}!</h2>
  <p>Choose a topic to explore:</p>
  <ul>
    <li><a href="{{ url_for('main.learn') }}">Learn about Vulnerabilities</a></li>
    <li><a href="{{ url_for('main.sqli') }}">Try SQL Injection</a></li>
    <li><a href="{{ url_for('main.xss') }}">Try XSS</a></li>
    <li><a href="{{ url_for('main.crypto_fail') }}">Try Cryptographic Failure</a></li>
    <li><a href="{{ url_for('main.final_quiz') }}">Final Quiz</a></li>
    <li><a href="{{ url_for('main.logs') }}">View Logs and Quiz Scores</a></li>
  </ul>
{% endblock %}
